@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Lato-regular/Lato-regular.eot');
  src: url('../fonts/Lato-regular/Lato-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato-regular/Lato-regular.woff2') format('woff2'),
       url('../fonts/Lato-regular/Lato-regular.woff') format('woff'),
       url('../fonts/Lato-regular/Lato-regular.ttf') format('truetype'),
       url('../fonts/Lato-regular/Lato-regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Lato-700/Lato-700.eot');
  src: url('../fonts/Lato-700/Lato-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato-700/Lato-700.woff2') format('woff2'),
       url('../fonts/Lato-700/Lato-700.woff') format('woff'),
       url('../fonts/Lato-700/Lato-700.ttf') format('truetype'),
       url('../fonts/Lato-700/Lato-700.svg#Lato') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.eot');
  src: url('../fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.woff2') format('woff2'),
       url('../fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.woff') format('woff'),
       url('../fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.ttf') format('truetype'),
       url('../fonts/Libre-Baskerville-regular/Libre-Baskerville-regular.svg#LibreBaskerville') format('svg');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Libre-Baskerville-700/Libre-Baskerville-700.eot');
  src: url('../fonts/Libre-Baskerville-700/Libre-Baskerville-700.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Libre-Baskerville-700/Libre-Baskerville-700.woff2') format('woff2'),
       url('../fonts/Libre-Baskerville-700/Libre-Baskerville-700.woff') format('woff'),
       url('../fonts/Libre-Baskerville-700/Libre-Baskerville-700.ttf') format('truetype'),
       url('../fonts/Libre-Baskerville-700/Libre-Baskerville-700.svg#LibreBaskerville') format('svg');
}

body{
  font-family: "Lato", sans-serif;
}

h1,h2,h3,h4,h5,h6, #guide{
  font-family: "Libre Baskerville", serif;
}


.navbar-collapse {
  padding: 0px;
}

.container-fluid {
  padding: 0px;
}

.container {
  padding: 0px;
}




/* Center navbar */

.navbar-nav {
  width: 100vw;
  text-align: center;
  border-radius: 0;

}

.navbar {
  border-radius: 0;
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  padding:0px;
  /*padding-left: 3px;*/
  margin: 0px;
}


.navbar-nav > li {
  float: none;
  display: inline-block;
  background-color: rgba(123,127,118,0.4);
  width:10.6vw;
  font-size: 1.5vw;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  padding-top: 9px;
  padding-bottom: 9px;
}

.navbar-default .navbar-nav > .active > a {
  color: #2DA6C4;
  background-color: rgba(123,127,118,0.9);
  font-weight: 700;

}

.navbar-default .navbar-nav > li.active {
border-bottom-width: 10px;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #2DA6C4;
  background-color: rgba(123,127,118,0.9);
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(123,127,118,0.7);
}


/*end navbar*/

body {
    background: url("../images/wall_texture.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #cccccc;
}

h1 {
    font-size: 8vw;
    color: #2DA6C4;
}

h2 {
    font-size: 2.2vw;
}


/*animations*/

@keyframes planetWobble {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(3deg);
    }
}

/*end aminations*/



/*tinyplanets*/

.tinyPlanetHome {
    height: 20vw;
    animation: planetWobble 5s infinite;
    position: absolute;
    z-index: -100;
    opacity:0.7 ;
}

.tinyPlanetHome.expand {
    animation: none;
    transform: scale(1.2);
    transition: transform .4s;
    z-index: 100;
    opacity: 1;
}

.tinyPlanetHome.shrink {
    animation: planetWobble 5s infinite;
    animation-delay: .4s;
    transform: scale(1);
    transition: transform .4s;
    z-index: -100;
}


#maintitle {
    display: block;
    position: absolute;
    text-align: center
}

h1, h2 {
    margin: 0px;
}

/*positioning main*/

/*titles*/
#titlepng {
  width: 40vw;
  opacity:0.7;
}

#maintitle  {
    margin-left: 15vw;
    width: 65vw;
    margin-top: 15vw;
}

#guide {
  margin-left: 1vw;
  margin-top: 1vw;
  position: absolute;
  opacity: 0.7;
}

#cardboard {
  width: 4vw;
  opacity: 1;
}

#instructions {
  font-size: 1.5vw;
  font-weight: 700;
  margin: 0px;

}

#viddesc {
  display: inline;
  font-size: 1.4vw;
  bottom: 0px;

}

/*tinyplanets*/
#ayham {
    /*background: yellow;*/
    margin-left: 25vw;
    margin-top: 32vw;
}

#khaled {
    /*background: red;*/
    margin-top: 30vw;
    margin-left: 55vw;
}

#kholoudp {
    /*background: blue;*/
    margin-top: 0vw;
    margin-left: 30vw;
}

#vincent {
    /*background: purple;*/
    margin-top: 5vw;
    margin-left: 65vw;
}

#shaghayegh {
    /*background: green;*/
    margin-top: 10vw;
    margin-left: 80vw;
}

#farzam {   
    /*background: teal;*/
    margin-top: 34vw; 
    margin-left: 68vw;
}

#ahmad {
    /*background: pink;*/
    margin-top: 25vw;
    margin-left: 8vw;
}

#mohammed {
    /*background: orange;*/
    margin-top: 5vw;
    margin-left: 10vw;
}

#adriel {
    /*background: orange;*/
    margin-top: 30vw;
    margin-left: 40vw;
}


/*end positioning main*/



/*360 page*/

#goback {
  position: fixed;
  z-index: 1000;
}


/*end 360 page*/

@media (max-width: 768px) {
  .navbar-nav {
  width: auto;
  text-align: center;
  border-radius: 0;
}



}






